@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixin" as *;

.header{
    min-height: 8rem;
    @include flex-box;
    justify-content: space-between;
    border-bottom: 0.1rem solid $header-border-color;
    margin-bottom: 3rem;
    &__wrapper{
        width: 60%;
        @include flex-box;
        justify-content: space-between;

    }
    &__logo{
        &-svg:hover{
            cursor: pointer;
            fill: #9e9e9e;
        }
    }
    .contact{
        @include flex-box;
        column-gap: 5rem;
        font-size: $fz14px;
        li{
            color: $header-text-color;
        }
    }
    &__search-block{
        position: relative;
        @include flex-box;
        column-gap: 1rem;
        input{
            font-size: $fz16px;
            border-radius: 0.5rem;
            padding: 1rem;
        }
        button{
            font-size: 3rem;
            color: $header-text-color;
        }
    }
}

.links{
    margin-bottom: 12rem;
    ul{
        @include flex-box;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        li{
            font-weight: 500;
            color: $header-text-color;
            font-size: $fz14px;
            text-transform: uppercase;
            letter-spacing: 5%;
            padding: 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover{
                background-color: $color-blue;

            }
        }

    }
    
}
.humburger{
    font-size: 3rem;
    color: $color-white;
    display: none;
}

@media (max-width: 768px) {
    .humburger{
        display: block;
    }
    .links{
        display: none;
    }
    .active-links{
        display: block;
        position: absolute;
        top: 13rem;
        right: 0;
        width: 30rem;
        padding: 1rem;
        ul{
            flex-direction: column;
            align-items: end;
        }
    }
}